<div id='latestProduct'>
    <mat-list-item class='product-content'>
        <div class='latestCard' *ngFor="let product of latestProductList">
            <mat-card class="example-card">
                <div class='card-picture'>
                    <img class='clickable' src={{product.detail.photoPath[0]}} [ngStyle]="imageService.getImageStyle(product.detail.photoPath[0], 160)">
                </div>
                <mat-card-content>{{product.nameKey}}</mat-card-content>
                <mat-card-actions>
                    <button mat-button class='zoom-button' color="primary" (click)="openImageDialog(product.detail.photoPath[0]) ">
                        <i class='icon-zoom-in'></i>
                    </button>
                    <button mat-button class='view-button' color="primary" (click)="openModal(detail,product.id)">
                        VIEW
                    </button>
                    <div mat-button class='price-div' color="primary">
                        {{product.detail.currency.symbol}} {{product.detail.price}}
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-list-item>
</div>
<div id='latestPagination'>
    <pagination algin='true' [boundaryLinks]="true" [totalItems]="77" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

    </pagination>
</div>
<ng-template #detail>
    <div class="modal-header ">
        <h4 class="modal-title pull-left "></h4>
        <button type="button " class="close pull-right " aria-label="Close " (click)="modalRef.hide() ">
            <span aria-hidden="true ">&times;</span>
        </button>
    </div>
    <app-detail [id]="detailId ">
    </app-detail>
</ng-template>