<div id='productDetail'>
    <div class='detail-top'>
        <div class='detail-left'>
            <div class='detail-img-big'>
                <img src={{product.detail.photoPath[photoIndex]}}>
            </div>
            <div class='detail-img-small'>
                <div *ngFor='let img of product.detail.photoPath;let i = index;'>
                    <img src={{img}} (click)='photoIndex=i;'>
                </div>
            </div>
        </div>
        <div class=' detail-right '>
            <div class="span6">
                <h3>Fujifilm FinePix S2950 Digital Camera </h3>
                <small>- (14MP, 18x Optical Zoom) 3-inch LCD</small>
                <hr class="soft">
                <span>$222.00</span>
                <hr class="soft">
                <h4>100 items in stock</h4>

                <hr class="soft">
            </div>
        </div>
    </div>
    <div class='detial-bottom '>
        <hr class="soft clr">
        <p>
            14 Megapixels. 18.0 x Optical Zoom. 3.0-inch LCD Screen. Full HD photos and 1280 x 720p HD movie capture. ISO sensitivity ISO6400 at reduced resolution. Tracking Auto Focus. Motion Panorama Mode. Face Detection technology with Blink detection and Smile
            and shoot mode. 4 x AA batteries not included. WxDxH 110.2 ×81.4x73.4mm. Weight 0.341kg (excluding battery and memory card). Weight 0.437kg (including battery and memory card).
        </p>
    </div>
</div>