<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="tags1" value="谭云丹,罗群益,罗梓萌"/>
    <add key="tags2" value="旅游,居家,生日,上班"/>
  </appSettings>
</configuration>