<div class="container">
    <!-- Navbar ================================================== -->
    <div id="logoArea" class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="index.html">
                <img src="src/themes/images/logo.png" alt="Bootsshop">
            </a>

            <ul id="topMenu" class="nav pull-right">
                <li class="">
                    <a href="special_offer.html">Specials Offer</a>
                </li>
                <li class="">
                    <a href="normal.html">Delivery</a>
                </li>
                <li class="">
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>